<a href="https://colab.research.google.com/github/tutu-tonton/Python-DB-/blob/main/Python%E3%81%A7DB%E3%82%92%E6%89%B1%E3%81%A3%E3%81%A6%E3%81%BF%E3%82%88%E3%81%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/winequality-red2.csv')

In [3]:
df

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [4]:
db_name = 'sample.db'
conn = sqlite3.connect(db_name)

In [5]:
conn

In [9]:
df.to_sql('wine_class', conn, if_exists='replace')

In [10]:
c = conn.cursor()

In [11]:
query = 'SELECT * FROM wine_class'
c.execute(query)

In [12]:
c.fetchone()

(0, 7.4, 0.7, 0.0, 1.9, 0.076, 11.0, 34.0, 0.9978, 3.51, 0.56, 9.4, 5)

In [13]:
conn.close()